<!doctype html>
<html class="no-js" lang="en" ng-app="sweetStore">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angular myStore</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-controller="StoreController as shop">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Taste of Leaven</h3>
      </div>

      <div class="jumbotron">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">{{"Hello Angular"}}</p>
        <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
      </div>

      <div class="row marketing">

        <div class="col-xs-4 shop-item" ng-repeat="item in shop.products">
          <h2>{{item.name}} <b class="pull-right">{{item.price | currency}}</b></h2>

          <section class='gallery' ng-show="item.images.length" ng-controller="GalleryController as gallery">

            <img g-src="{{product.images[gallery.current]}}" alt="woops">
            <ul class="list-inline thumbs">
                <li class="thumbnail" ng-repeat="image in item.images">
                  <img ng-src="{{image}}" alt="mini-woops" />
                </li>
            </ul>

          </section>

          <tab-panels></tab-panels>
<!--           <section class="text-centre" ng-controller="TabController as tab">

            <ul class="nav nav-pills">
              <li ng-class="{active: tab.isSelected(1)}">
                <a href="" ng-click="tab.selectTab(1)">Description</a>
              </li>
              <li ng-class="{active: tab.isSelected(2)}">
                <a href="" ng-click="tab.selectTab(2)">Ingredients</a>
              </li>
              <li ng-class="{active: tab.isSelected(3)}">
                <a href="" ng-click="tab.selectTab(3)">Reviews</a>
              </li>
            </ul>

            <product-description class="panel" ng-show="tab.isSelected(1)">
            </product-description>

            <div product-ingredients class="panel" ng-show="tab.isSelected(2)">
            </div>

            <product-review class="panel" ng-show="tab.isSelected(3)">
            </product-Review>

          </section> -->
          <p ng-hide="item.in_stock">Item is out of stock!</p>
          <button ng-show="item.in_stock">Add to cart</button>
        </div>

      </div>


      <div class="footer">
        <p>♥ from the Yeoman team</p>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angularfire/dist/angularfire.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
